---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import HLogo from '../components/HLogo.astro';
import FLogo from '../components/FLogo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<HLogo className="header-logo"/>
		</span>
		<Button slot="action-item" href="https://forms.gle/b8MjRh9pw6o1DgqB9">Register your Team !</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    	footerSocials={footerSocials}
		copyrightName={settings.name}
    	showPlug={settings.showPlug}
	>
		<FLogo className="footer-logo" slot="logo" />
	</Footer>
</Layout>
